header {
  grid-area: header;
}

main {
  grid-area: main;
  padding: 10px;
  margin-right: 10%;
}

footer {
  grid-area: footer;
}

.sidebar {
  grid-area: sidebar;
}

.App {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-gap: 2.5em;
  width: 100vw;
  height: 100vh;
}


.App-title {
  font-size: 5.0em;
  color: #BF6567;
  font-family: 'Noto Serif', serif;
}

.App-intro {
  font-size: large;
  font-family: 'Noto Sans', sans-serif;
  color: #2B2826;
}

.sidebar {
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.button {
  border: none;
  background-color: #EDEDE6;
  padding: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  font-size: large;
  font-family: 'Noto Serif', serif;
  color: #2B2826;
}

.button:hover { 
  text-decoration: underline; 
  text-underline-position: under;
  text-decoration-color: #BF6567;
  color: #BF6567;
}

a:link {
  text-decoration: none
}

hr.style {
  background-color: #BF6567;
  border: none;
  height: 8px;
  width: 8%;
  text-align: left;
  margin-left: 0;
}

h1 {
  color: #4F4846;
}


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

/*.sidebar-appear {
  opacity: 0.01;
}

.sidebar-appear.sidebar-appear-active {
  opacity: 1;
  transition: opacity .8s ease-in;
}
*/

