.App {
  text-align: center;
}

.App-title {
  font-size: 3.5em;
  color: #BF6567;
  font-family: 'Noto Serif', serif;
}

.App-intro {
  font-size: large;
  font-family: 'Noto Sans', sans-serif;
}

.sidebar-menu {
  font-size: large;
  font-family: 'Noto Serif', serif;
}

